.#*
/eln-cache
/straight/build-cache.el
/straight/build/
/straight/modified/
/var/

# Repos populated by straight.el
/straight/repos/emacsmirror-mirror
/straight/repos/gnu-elpa-mirror
/straight/repos/melpa
/straight/repos/nongnu-elpa
