[submodule "straight/repos/circadian.el"]
	path = straight/repos/circadian.el
	url = https://github.com/GuidoSchmidt/circadian.el.git
[submodule "straight/repos/elpa"]
	path = straight/repos/elpa
	url = https://git.savannah.gnu.org/git/emacs/elpa.git
[submodule "straight/repos/melpa"]
	path = straight/repos/melpa
	url = https://github.com/melpa/melpa.git
[submodule "straight/repos/epkgs"]
	path = straight/repos/epkgs
	url = https://github.com/emacsmirror/epkgs.git
[submodule "straight/repos/straight.el"]
	path = straight/repos/straight.el
	url = https://github.com/raxod502/straight.el.git
[submodule "straight/repos/use-package"]
	path = straight/repos/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "straight/repos/diminish.el"]
	path = straight/repos/diminish.el
	url = https://github.com/myrjola/diminish.el.git
[submodule "straight/repos/no-littering"]
	path = straight/repos/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "straight/repos/evil"]
	path = straight/repos/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "straight/repos/goto-chg"]
	path = straight/repos/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "straight/repos/helm"]
	path = straight/repos/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "straight/repos/emacs-async"]
	path = straight/repos/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "straight/repos/popup-el"]
	path = straight/repos/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "straight/repos/emacs-winum"]
	path = straight/repos/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "straight/repos/dash.el"]
	path = straight/repos/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "straight/repos/persp-mode.el"]
	path = straight/repos/persp-mode.el
	url = https://github.com/Bad-ptr/persp-mode.el.git
[submodule "straight/repos/eyebrowse"]
	path = straight/repos/eyebrowse
	url = https://github.com/wasamasa/eyebrowse.git
[submodule "straight/repos/spacemacs-theme"]
	path = straight/repos/spacemacs-theme
	url = https://github.com/nashamri/spacemacs-theme.git
[submodule "straight/repos/spaceline"]
	path = straight/repos/spaceline
	url = https://github.com/TheBB/spaceline.git
[submodule "straight/repos/powerline"]
	path = straight/repos/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "straight/repos/s.el"]
	path = straight/repos/s.el
	url = https://github.com/magnars/s.el.git
[submodule "straight/repos/evil-surround"]
	path = straight/repos/evil-surround
	url = https://github.com/emacs-evil/evil-surround.git
[submodule "straight/repos/magit"]
	path = straight/repos/magit
	url = https://github.com/magit/magit.git
[submodule "straight/repos/ghub"]
	path = straight/repos/ghub
	url = https://github.com/magit/ghub.git
[submodule "straight/repos/with-editor"]
	path = straight/repos/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "straight/repos/magit-popup"]
	path = straight/repos/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "straight/repos/rust-mode"]
	path = straight/repos/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "straight/repos/haskell-mode"]
	path = straight/repos/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "straight/repos/emacs-helm-ag"]
	path = straight/repos/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "straight/repos/general.el"]
	path = straight/repos/general.el
	url = https://github.com/noctuid/general.el.git
[submodule "straight/repos/ag.el"]
	path = straight/repos/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "straight/repos/Emacs-wgrep"]
	path = straight/repos/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "straight/repos/company-mode"]
	path = straight/repos/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "straight/repos/flycheck"]
	path = straight/repos/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "straight/repos/pkg-info.el"]
	path = straight/repos/pkg-info.el
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "straight/repos/epl"]
	path = straight/repos/epl
	url = https://github.com/cask/epl.git
[submodule "straight/repos/git-link"]
	path = straight/repos/git-link
	url = https://github.com/sshaw/git-link.git
[submodule "straight/repos/emacs-racer"]
	path = straight/repos/emacs-racer
	url = https://github.com/racer-rust/emacs-racer.git
[submodule "straight/repos/f.el"]
	path = straight/repos/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "straight/repos/pos-tip"]
	path = straight/repos/pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "straight/repos/flycheck-rust"]
	path = straight/repos/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
[submodule "straight/repos/undo-tree"]
	path = straight/repos/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "straight/repos/emacs-smeargle"]
	path = straight/repos/emacs-smeargle
	url = https://github.com/syohex/emacs-smeargle.git
[submodule "straight/repos/counsel-projectile"]
	path = straight/repos/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile.git
[submodule "straight/repos/projectile"]
	path = straight/repos/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "straight/repos/rainbow-delimiters"]
	path = straight/repos/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "straight/repos/swiper"]
	path = straight/repos/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "straight/repos/markdown-mode"]
	path = straight/repos/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "straight/repos/mmm-mode"]
	path = straight/repos/mmm-mode
	url = https://github.com/purcell/mmm-mode
[submodule "straight/repos/unfill"]
	path = straight/repos/unfill
	url = https://github.com/purcell/unfill.git
[submodule "straight/repos/graphql.el"]
	path = straight/repos/graphql.el
	url = https://github.com/vermiculus/graphql.el.git
[submodule "straight/repos/treepy.el"]
	path = straight/repos/treepy.el
	url = https://github.com/volrath/treepy.el.git
[submodule "straight/repos/keyfreq"]
	path = straight/repos/keyfreq
	url = https://github.com/dacap/keyfreq.git
