.#*
/straight/build-cache.el
/straight/build/
/straight/modified/
/var/
/eln-cache/
todo.md

# Repos populated by straight.el
/straight/repos/emacsmirror-mirror
/straight/repos/nongnu-elpa
/straight/repos/melpa
/straight/repos/gnu-elpa-mirror
