[submodule "straight/repos/circadian.el"]
	path = straight/repos/circadian.el
	url = https://github.com/GuidoSchmidt/circadian.el.git
[submodule "straight/repos/straight.el"]
	path = straight/repos/straight.el
	url = https://github.com/raxod502/straight.el.git
[submodule "straight/repos/use-package"]
	path = straight/repos/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "straight/repos/diminish.el"]
	path = straight/repos/diminish.el
	url = https://github.com/myrjola/diminish.el.git
[submodule "straight/repos/no-littering"]
	path = straight/repos/no-littering
	url = https://github.com/emacscollective/no-littering.git
[submodule "straight/repos/evil"]
	path = straight/repos/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "straight/repos/goto-chg"]
	path = straight/repos/goto-chg
	url = https://github.com/emacs-evil/goto-chg.git
[submodule "straight/repos/helm"]
	path = straight/repos/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "straight/repos/emacs-async"]
	path = straight/repos/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "straight/repos/popup-el"]
	path = straight/repos/popup-el
	url = https://github.com/auto-complete/popup-el.git
[submodule "straight/repos/emacs-winum"]
	path = straight/repos/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "straight/repos/dash.el"]
	path = straight/repos/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "straight/repos/persp-mode.el"]
	path = straight/repos/persp-mode.el
	url = https://github.com/Bad-ptr/persp-mode.el.git
[submodule "straight/repos/spacemacs-theme"]
	path = straight/repos/spacemacs-theme
	url = https://github.com/mgsloan/spacemacs-theme.git
[submodule "straight/repos/spaceline"]
	path = straight/repos/spaceline
	url = https://github.com/TheBB/spaceline.git
[submodule "straight/repos/powerline"]
	path = straight/repos/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "straight/repos/s.el"]
	path = straight/repos/s.el
	url = https://github.com/magnars/s.el.git
[submodule "straight/repos/magit"]
	path = straight/repos/magit
	url = https://github.com/mgsloan/magit.git
[submodule "straight/repos/with-editor"]
	path = straight/repos/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "straight/repos/emacs-helm-ag"]
	path = straight/repos/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "straight/repos/general.el"]
	path = straight/repos/general.el
	url = https://github.com/noctuid/general.el.git
[submodule "straight/repos/git-link"]
	path = straight/repos/git-link
	url = https://github.com/sshaw/git-link.git
[submodule "straight/repos/emacs-racer"]
	path = straight/repos/emacs-racer
	url = https://github.com/racer-rust/emacs-racer.git
[submodule "straight/repos/f.el"]
	path = straight/repos/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "straight/repos/pos-tip"]
	path = straight/repos/pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "straight/repos/flycheck-rust"]
	path = straight/repos/flycheck-rust
	url = https://github.com/flycheck/flycheck-rust.git
[submodule "straight/repos/undo-tree"]
	path = straight/repos/undo-tree
	url = https://github.com/emacs-straight/undo-tree.git
[submodule "straight/repos/counsel-projectile"]
	path = straight/repos/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile.git
[submodule "straight/repos/projectile"]
	path = straight/repos/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "straight/repos/rainbow-delimiters"]
	path = straight/repos/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "straight/repos/swiper"]
	path = straight/repos/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "straight/repos/markdown-mode"]
	path = straight/repos/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "straight/repos/unfill"]
	path = straight/repos/unfill
	url = https://github.com/purcell/unfill.git
[submodule "straight/repos/evil-mc"]
	path = straight/repos/evil-mc
	url = https://github.com/gabesoft/evil-mc.git
[submodule "straight/repos/frame-cmds"]
	path = straight/repos/frame-cmds
	url = https://github.com/emacsmirror/frame-cmds.git
[submodule "straight/repos/frame-fns"]
	path = straight/repos/frame-fns
	url = https://github.com/emacsmirror/frame-fns.git
[submodule "straight/repos/helm-projectile"]
	path = straight/repos/helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
[submodule "straight/repos/helm-rg"]
	path = straight/repos/helm-rg
	url = https://github.com/tohammer/helm-rg.git
[submodule "straight/repos/zoom-frm"]
	path = straight/repos/zoom-frm
	url = https://github.com/emacsmirror/zoom-frm.git
[submodule "straight/repos/avy"]
	path = straight/repos/avy
	url = https://github.com/abo-abo/avy.git
[submodule "straight/repos/transient"]
	path = straight/repos/transient
	url = https://github.com/magit/transient.git
[submodule "straight/repos/smeargle"]
	path = straight/repos/smeargle
	url = https://github.com/emacsorphanage/smeargle.git
[submodule "straight/repos/el-get"]
	path = straight/repos/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "y"]
	path = straight/repos/annalist.el
	url = https://github.com/noctuid/annalist.el.git
[submodule "straight/repos/evil-collection"]
	path = straight/repos/evil-collection
	url = https://github.com/emacs-evil/evil-collection.git
[submodule "straight/repos/visual-fill-column"]
	path = straight/repos/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "straight/repos/writeroom-mode"]
	path = straight/repos/writeroom-mode
	url = https://github.com/joostkremers/writeroom-mode.git
[submodule "straight/repos/queue"]
	path = straight/repos/queue
	url = https://github.com/emacs-straight/queue.git
[submodule "straight/repos/compat"]
	path = straight/repos/compat
	url = https://github.com/emacs-straight/compat.git
[submodule "straight/repos/haskell-mode"]
	path = straight/repos/haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "straight/repos/js2-mode"]
	path = straight/repos/js2-mode
	url = https://github.com/mooz/js2-mode.git
